<!-- image-page.component.html -->
<h1>Image Page</h1>

<!-- Image and Logo Container -->
<div class="image-container">
  <!-- Logo in the upper corner -->
  <img src="assets/logo.png" alt="Logo" class="logo" />

  <!-- Container for the uploaded image and buttons -->
  <div class="image-content">
    <!-- Display the uploaded image -->
    <div *ngIf="imageSrc" class="uploaded-image-box">
      <img [src]="imageSrc" alt="Uploaded Image" class="uploaded-image" />
    </div>

    <!-- Box for displaying the fetched image from backend -->
    <div *ngIf="backendImageSrc" class="image-display-box">
        <h3>Fetched Image</h3>
        <img [src]="backendImageSrc" alt="Fetched Image" class="fetched-image" />
      </div>
    </div>


    <!-- Upload Image Button -->
    <input type="file" (change)="onFileSelected($event)" class="upload-button" />

    
</div>
<div>
  <!-- Bottle Count Display -->
  <div class="bottle-count">
    <p> Scanned Bottles:  /   Total Bottles:  
        <BR>
        {{ scannedBottles }} / {{ totalBottles }}

  </div>
</div>


<div class="side-info-box">
    
 <div class="bottle-data">
    Product {{brandName}} |  Quantity {{quantity}} 
</div>

<br>

<div class="button-container">
   
  <!-- Reset Button -->
   <button (click)="rescan()" class="btn rescan-button" > RESCAN </button><br>
    <button (click)="reset()" class="btn reset-button">Reset</button><br>
    <button  [routerLink]="['/']" class="btn proceed-button" type="reset" >Back</button>
   </div>

</div>
